/* small device 576px */

@media only screen and (max-width:575px) {
    .form-div {
        width: 90vw;
        height: 70vh;
        margin-left: 10px;
        padding: 20px;
    }

    .form-div h2 {
        margin-bottom: 20px;
    }


    .car-menu {
        width: 80vw;
        height: 12vh;
        flex-wrap: wrap;
        /* background-color: blue; */
        gap: 5px;

    }

    .car {
        width: 20vw;
        height: 8vh;
        flex-wrap: wrap;
        /* background-color: #ffc61a; */
    }

    .car a {
        font-size: 8px;
        font-weight: 800;
    }

    .car img {
        width: 12vw;
        height: 4vh;
    }

    .form-btn {
        padding: 5px 20px;
        border-radius: 20px;
        font-weight: 700;
    }


    .contact-info {
        height: 30vh;
    }

    .contact-details {
        flex-grow: 1;
        flex-direction: column;

    }

    .contact-details .cf1 {
        font-weight: 800;
        font-size: 15px;
    }

    .contact-details .cf2 {
        font-weight: 700;
        font-size: 10px;
    }

    .contact-btn {
        padding: 10px 10px;
        font-weight: 800;
        font-size: 15px;
    }

    /* servoces */

    .our-service {
        text-align: center;
        margin-top: 20px;
    }

    .our-service h4 {
        font-size: 15px;
        font-weight: 700;

    }

    .our-service h2 {
        font-size: 20px;
        font-weight: 800;

    }

    .card-container {
        padding: 20px 30px;
        flex-direction: column;
    }

    .card-img-top {
        width: 40%;
        height: 30%;
        align-self: center;
        padding: 20px;
    }

    .card {
        margin: 5px 5px;
    }


    .card h5 {
        font-size: 15px;
    }

    /* card teriss */

    .card-container2 {
        padding: 20px 30px;
        flex-direction: column;
        gap: 5px;
    }

    .our-teriff {
        text-align: center;
        margin-top: 50px;
        height: 290vh;
    }

    .our-teriff h4 {
        font-size: 15px;
        font-weight: 600;
        padding-top: 40px;

    }

    .our-teriff h2 {
        font-size: 30px;
        font-weight: 700;

    }

    .our-teriff p {
        font-size: 17px;
    }

    .terrifs-img {
        width: 80%;
        height: 40%;
    }

    .terrifs-card {
        height: 65vh;
    }

    .card-container2 .terrifs-card .card-body p {
        font-size: 20px;
    }

    .card-container2 .terrifs-card .card-body h5 {
        font-size: 20px;
        font-weight: 900;
    }


    #vip-logo{
         width: 16vw;
        height: 8svh;
    }
  
    /* download section */
    @media screen and (max-width:550px) {
        .download-right-side>div {
            flex-direction: row;
        }
    }

    /* driver section */

    #driver {
        padding-left: 5%;
    }


    /* testimonial */

    .testimonials h4 {
        font-size: 20px;
        font-weight: 700;
        padding-top: 40px;

    }

    .testimonials h2 {
        font-size: 25px;
        font-weight: 800;
    }


    div.item {
        width: 300px;
        height: 350px;
    }

    #carousel .item p {
        font-size: 15px;
        padding: 25px;
        line-height: 20px;
        font-style: italic;
    }

    .fa-quote-left {
        color: rgba(128, 128, 128, 0.427);
        font-size: 30px;
    }

    #carousel .item h4 {
        font-size: 12px;
        color: black;
    }

    #carousel .item img {
        width: 20%;
        height: 15%;
        border-radius: 50%;
    }

    input[type='radio'] {
        width: 22px;
        height: 22px;
        margin-right: 10px;
        transform: scale(1);
        margin-top: 10px;
        cursor: pointer;

    }

    .bannerImg {
        width: 100%;
    }

    .bannerImg img {
        width: 100%;
    }

    .our-partner {
        width: 100%;
        height: 20vh;
        padding: 20px 53px;
        background-color: #ffc107;
        flex-direction: column;
        height: auto;
        gap: 25px;

    }

    .our-partner h4 {
        font-size: 20px;
        font-weight: 700;
    }

    .our-partner h2 {
        font-size: 25px;
        font-weight: 800;
        color: white;
    }

    /* footer */

    #footer {
        height: auto;

    }

    .top-footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;

    }

    .upcom-prod {
        margin-left: 0px;
        margin-top: 40px;

    }

    .upcom-prod marquee {
        width: 70vw;
        height: 150px;
    }


    ul#contact-item li {
        padding-left: 5px;
        margin-top: 10px;
        /* height: 60px; */
        width: 70vw;
        line-height: 25px;

    }

    .footer-bottom {
        width: 100%;
        background-color: black;
        padding: 40px 50px;
        height: auto;
    }

}