* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border-bottom: 5px solid orange;
}

@media (max-width:1199px) {
    .container {
        border-bottom: none;

    }

    .navbar-nav {
        height: 400vh;
        margin-top: 1%;
        margin-left: -2%;
    }

    .navbar-lists .nav-link {
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 55px;
        background-color: #ffc61a;

    }

    .nav-link {
        color: black !important;
        font-size: 15px !important;
        font-weight: 800 !important;

    }

    .navbar-lists .nav-link.active {
        color: white !important;

    }

    .nav-link:hover {
        background-color: #e3dfd2;
    }

    .nav-item .active:hover {
        color: black !important;
    }

    .nav-link .fa-chevron-right {
        color: #ffc61a;
        font-size: 20px !important;
    }


    .fa-cart-shopping {
        display: none;
    }

}

.navbar {
    background-color: rgba(0, 0, 0, 0.796);
    height: 70px;
}

.nav-wrapper .navbar .navbar-brand img {
    height: 40px;
}

.navbar-lists {
    text-align: center;
    line-height: 50px;
}

.navbar-lists .nav-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-lists .nav-link:nth-child(4) {
    margin-bottom: 4px;
}

.navbar-lists .nav-link.active {
    color: #ffc61a;
}


.navbar-lists .nav-link:hover {
    color: #ffc61a;

}

.nav-item a {
    color: white;
}

.fa-solid {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.fa-chevron-right {
    font-size: 10px;
    color: white;
}

.nav-link:hover .fa-chevron-right {
    color: #ffc61a;
}


.fa-cart-shopping {
    font-size: 17px;
    color: #ffc61a;
}

.fa-cart-shopping:hover {
    color: white
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-35%, 1%);
}

.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown-content>a {
    font-weight: 700;
}

.dropdown-content .active:hover {
    color: white;
    transition: all ease 1s;
}

.dropdown-content a:hover {
    background-color: #ffc61a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-35%, 1%);
}

.dropdown-content2 a:hover {
    background-color: #ffc61a;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}


.cont {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: changeBackground 18s infinite;
    transition: all ease s;

}

@keyframes changeBackground {

    0%,
    50% {
        background-image: url('https://images.unsplash.com/photo-1556122071-e404eaedb77f?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        transform: scale(1.8);
    }

    50%,
    75% {
        background-image: url('https://plus.unsplash.com/premium_photo-1661922380380-e214c7130cad?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        transform: scale(1.5);
    }

    75%,
    100% {
        background-image: url('https://images.unsplash.com/photo-1514041181368-bca62cceffcd?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        transform: scale(1);
    }
}


.form-div {
    margin-top: 90px;
    background-color: white;
    width: 40vw;
    height: 70vh;
    margin-left: 95px;
    border-radius: 5px;
    padding: 50px;
}

.row {
    margin-top: 80pxpx;
}

.form-btn {
    padding: 20px 60px;
    border-radius: 30px;
    border: none;
    transform: translate(80%, 20%);
    font-weight: 800;
    font-size: 15px;
    color: black;
    background-color: #ffc61a;
    transition: all ease 0.5s;
}

.form-btn:hover{
    color: #ffc61a;
    background-color: black;
}