* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body::-webkit-scrollbar {
    width: 1em;
    background-color: #ffc61a;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: black
}

body::-webkit-scrollbar-thumb {
    background-color: #ffc61a;
    outline: 2px solid black;
    border-radius: 5px;

}

.container {
    border-bottom: 5px solid orange;
    width: 100%;
}

@media (max-width:1199px) {
    .container {
        border-bottom: none;

    }

    .navbar-nav {
        height: 400vh;
        margin-top: 1%;
        margin-left: -2%;
    }

    .navbar-lists .nav-link {
        font-size: 50px;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 55px;
        background-color: #ffc61a;

    }

    .nav-link {
        color: black !important;
        font-size: 15px !important;
        font-weight: 800 !important;

    }

    .navbar-lists .nav-link.active {
        color: white !important;

    }

    .nav-link:hover {
        background-color: #e3dfd2;
    }

    .nav-item .active:hover {
        color: black !important;
    }

    .nav-link .fa-chevron-right {
        color: #ffc61a;
        font-size: 20px !important;
    }


    .fa-cart-shopping {
        display: none;
    }

}

.navbar {
    background-color: rgba(0, 0, 0, 0.796);
    height: 70px;
}

.nav-wrapper .navbar .navbar-brand img {
    height: 40px;
}

.navbar-lists {
    text-align: center;
    line-height: 50px;
}

.navbar-lists .nav-link {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-lists .nav-link:nth-child(4) {
    margin-bottom: 4px;
}

.navbar-lists .nav-link.active {
    color: #ffc61a;
}


.navbar-lists .nav-link:hover {
    color: #ffc61a;

}

.nav-item a {
    color: white;
}

.fa-solid {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.fa-chevron-right,
.fa-chevron-down {
    font-size: 10px;
    color: white;
}

.nav-link:hover .fa-chevron-right,
.fa-chevron-down {
    color: #ffc61a;
}


.fa-cart-shopping {
    font-size: 17px;
    color: #ffc61a;
}

.fa-cart-shopping:hover {
    color: white
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-35%, 1%);
}

.dropdown-content a {
    color: black;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
}

.dropdown-content>a {
    font-weight: 700;
}

.dropdown-content .active:hover {
    color: white;
    transition: all ease 1s;
}

.dropdown-content a:hover {
    background-color: #ffc61a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: white;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translate(-35%, 1%);
}

.dropdown-content2 a:hover {
    background-color: #ffc61a;
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}


.cont {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: changeBackground 18s infinite;
    transition: all ease s;

}

@keyframes changeBackground {

    0%,
    50% {
        background-image: url('https://images.unsplash.com/photo-1556122071-e404eaedb77f?q=80&w=2034&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        transform: scale(1.8);
    }

    50%,
    75% {
        background-image: url('crouselImg/carousel-2\ \(1\).jpg');
        transform: scale(1.5);
    }

    75%,
    100% {
        background-image: url('crouselImg/carousel-2\ \(2\).jpg');
        transform: scale(1);
    }
}


/* form  */

.form-div {
    margin-top: 90px;
    background-color: white;
    width: 40vw;
    height: 70vh;
    margin-left: 95px;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-btn {
    padding: 20px 60px;
    border-radius: 30px;
    border: none;
    font-weight: 800;
    font-size: 15px;
    color: black;
    background-color: #ffc61a;
    transition: all ease 0.5s;
    margin: auto;
}

.form-btn:hover {
    color: #ffc61a;
    background-color: black;
}

.car-menu {
    width: 35vw;
    height: 20vh;
    flex-wrap: wrap;
    /* background-color: blue; */

}

.car {
    width: 7vw;
    height: 10vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 5px;
    gap: 2px;
    flex-wrap: wrap;
    /* background-color: #ffc61a; */
}

.car:hover {
    background-color: #ffc61a;
    transition: all ease 1s;
}

.car a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    font-weight: 700;
    text-align: center;

}

/* Addresss & phone no */

.contact-info {
    padding-top: 33px;
    background-color: #ffc61a;
    height: 15vh;
}

.contact-info i {
    font-size: 24px;
    margin-right: 10px;
    color: black;
}

.contact-details {
    flex-grow: 1;

}

.contact-details .cf1 {
    font-weight: 800;
    font-size: 20px;
}

.contact-details .cf2 {
    font-weight: 700;
    font-size: 15px;
}

.contact-btn {

    padding: 15px 70px;
    border-radius: 30px;
    border: 2px solid black;
    font-weight: 800;
    font-size: 15px;
    color: black;
    background-color: #ffc61a;
    transition: all ease 0.5s;


}

.contact-btn:hover {
    color: #ffc61a;
    background-color: black;
}

/* our services */

.our-service {
    text-align: center;
    margin-top: 50px;
}

.our-service h4 {
    font-size: 30px;
    font-weight: 700;

}

.our-service h2 {
    font-size: 40px;
    font-weight: 700;

}

.card-container {
    padding: 50px 117px;
}

.card-img-top {
    width: 46%;
    height: 30%;
    align-self: center;
    padding: 20px;
}

.card {
    border: none;
    margin: 10px 10px;
}

/* our terrifs */

.our-teriff {
    text-align: center;
    margin-top: 50px;
    height: 100vh;
}

.our-teriff h4 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;

}

.our-teriff h2 {
    font-size: 50px;
    font-weight: 800;

}




/* .our-teriff p {
    font-size: 17px;
} */

.card-container2 {
    padding: 50px 117px;
}

.terrifs-img {
    width: 60%;
    height: 40%;

}

.terrifs-card {
    height: 60vh;

}

.terrifs-card:nth-child(3) {
    border: 3px solid #ffc61a;
}

.terrifs-card:hover {
    box-shadow: 2px 2px 10px black;
    transition: all ease 0.3s;
}

/* download APP section */

#download {
    width: 100%;
}

#download {
    background-image: url('downloadAppSec/background.jpg');
    width: 100%;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#download>div {
    opacity: 0.8;
}

#download>div>h1 {
    font-size: 3rem !important;
}

.download-right-side>div {
    display: flex;
    flex-direction: row-reverse;
}

.download-detail>span {
    width: 50px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-detail p {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 100 !important;
}

#mobile-image {
    height: 25rem;
    overflow-y: hidden;
}

#mobile-image>img {
    width: 19rem !important;
}

#mobile-image>div {
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* driver section */

#driver {
    padding-left: 15%;
}

.list>ul>li {
    list-style: none;
    font-size: 1rem;
}

.list>button :hover {
    color: #ffc107 !important;

}

#driver>div>p {
    font-size: 1.2rem;
}

#driver button {
    background-color: #ffc107;
    padding: 1rem 3.5rem;
    font-size: 1.15rem;
    font-weight: 600;
    margin: 2rem 2rem !important;
}

#driver button:hover {
    color: #ffc107 !important;
    background-color: #212529;
}


/* responsive */
@media (max-width:1110px) {
    .download-detail>span {
        display: none;
    }
}

@media screen and (max-width:778px) {
    #mobile-image {
        height: auto;
    }
}

/* testimonials */

.testimonials {
    text-align: center;
    margin-top: 50px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.13);
}

.testimonials h4 {
    font-size: 25px;
    font-weight: 700;
    padding-top: 40px;

}

.testimonials h2 {
    font-size: 45px;
    font-weight: 800;
}

/* crousel */
main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 3;
    --middle: 3;
    --position: 1;
    pointer-events: none;

}

div.item {
    position: absolute;
    width: 400px;
    height: 450px;
    background-color: rgb(252, 249, 248);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    border-radius: 10px;
    transition: all ease 1s;
}

div.item:nth-of-type(1) {
    --offset: 1;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 30px black;
}

div.item:nth-of-type(2) {
    --offset: 2;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 30px black;
}

div.item:nth-of-type(3) {
    --offset: 3;
    background-color: white;
    border: 2px solid black;
    box-shadow: 2px 2px 30px black;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

#carousel .item p {
    font-size: 18px;
    padding: 30px;
    line-height: 30px;
    font-style: italic;
}

.fa-quote-left {
    color: rgba(128, 128, 128, 0.427);
    font-size: 40px;
}

#carousel .item h4 {
    font-size: 15px;
    color: black;
}

#carousel .item img {
    width: 20%;
    height: 15%;
    border-radius: 50%;
}

input[type='radio'] {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transform: scale(1);
    margin-top: 10px;
    cursor: pointer;
}

input[type='radio']:hover {
    transform: scale(1.5);
    transition: all ease 0.2s;
}

.bannerImg {
    margin-bottom: 0;
}

/* our partners */

.our-partner {
    width: 100%;
    height: 20vh;
    padding: 20px 53px;
    background-color: #ffc107;

}

.our-partner h4 {
    font-size: 22px;
    font-weight: 700;
}

.our-partner h2 {
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.partner-img {
    gap: 20px;
}

/* footer */
/* footer */
#footer {
    overflow: hidden;
    width: 100%;
    background: #161616;
    /* background: #464646; */
    padding-top: 25px;
    height: 45vh;
}

.top-footer {
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
}

#footer h3 {
    font-size: 19px;
    font-weight: 700;
    color: #ffc107;
}

.about-us {
    margin-left: 20px;
    margin-top: 50px;

}

.about-us p {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.763);
    width: 300px;
}

.upcom-prod {
    margin-left: 20px;
    margin-top: 50px;

}

.upcom-prod h3 {
    height: 40px;
    color: #ffc107;
}

.upcom-prod marquee {
    width: 20vw;
    margin-left: 5px;
    height: 150px;
    font: 14px/20px Open Sans, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.744);
}

.upcom-prod marquee ul li:hover {
    color: #ffc107;
    cursor: pointer;
}

.upcom-prod ul {
    list-style: none;
}

.upcom-prod ul li {
    border-bottom: 1px dotted #ece3e3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
    overflow: hidden;
}

.contact-us {
    margin-left: 20px;
    margin-top: 50px;
}

.contact-us ul li {
    color: rgba(255, 255, 255, 0.748);

}

ul#contact-item li {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
    /* height: 60px; */
    width: 25vw;
    line-height: 25px;

}

#footer a {
    color: black;
    list-style: none;
    text-decoration: none;
}


/* bottom booter */
.footer-bottom {
    width: 100%;
    height: 12vh;
    background-color: black;
    padding: 40px 120px;
}